  
{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "printWidth": 130,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false
  }