
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #e24800;
  */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  /* color: white; */
}

.App-main {
  background-color: #282633;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #382012;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 225, 129);
}

.App-link {
  color: #61dafb;
}

.Devices {
  background-color: #7ba100;
  padding: 14px;
  margin-block: 5px;
  float: left;
  min-width: 100vh;
}

.Device {
  background-color: #00a151;
  padding: 14px;
  margin: 20px;
  max-width: 25vh;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switch_on {
  background-color: greenyellow;
}
.switch_off {
  background-color: red;
}

.digital-flag_on {
  color: greenyellow;
}
.digital-flag_off {
  color: red;
}